html,body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.text-theme2 {
	color: var(--theme-color2) !important;
}
.text-dark {
	color: #212121 !important;
}

.form-inline .btn {
	font-size: 14px;
	padding-top: 11.5px;
}
.text-center {
	text-align: center !important;
}
.front-banner {
	width: 100%;
	position: relative;
}
.front-banner img {
	width: 100%;
}
.front-banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
	z-index: 100;
	display: flex;
	flex-direction: column;
}
.navbar-transparent {
	background: transparent;
}
.navbar {
	padding-top: 30px;
}
.navbar-transparent .navbar-nav .nav-link {
	color: #fff;
}

.heading {
	font-size: 30px;
}

.por {
	position: relative;
}
.swiper-pagination-hero-banner {
	position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
	height: 100%;
	align-items: center;

}
.swiper-pagination-bullet {
	opacity: .7;
	background: #fff;
	margin-top: 10px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border: 2px solid #fff;
opacity: 1;
background: none;
width: 12px;
height: 12px;
text-align: center;
}


* {
	box-sizing:border-box;
  }
  .center-box {
	width:200px;
	margin: 40px auto;
  }
  .ui-select {
	  position: relative;
	width:100%;
	background:#fff;
	white-space: nowrap;
  
  }
  .ui-select > span {
	line-height: 65px;
	  display: block;
	  cursor: pointer;
	  background: #EDEDED;	
	  height: 100%;
	  position: relative;
    padding-right: 35px;
    padding-left: 25px;  
  }
  
  .ui-select ul {
	  list-style: none;
	  padding: 0;margin: 0;
	  transform-origin: top;
	  animation-fill-mode: forwards;
	  -webkit-transform: scaleY(0);
	  display: block;
	  transition: all .1s ease-out;
	  width: 100%;
	  background:#fff;
	  max-height: 500px;
	  overflow-y: auto;
	  position: relative;
		z-index: 10000;
		margin-top: -1px;
		border-top:none;

	border-radius: 5px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
	

	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  .ui-select li {
	cursor: pointer;
    padding: 10px 25px
  }
  .ui-select li:hover {
	  background: #f1f1f1;
	  color: var(--theme-color2);
  }
  .ui-select.open>span {
	
  }
  .ui-select.open ul {
	  -webkit-transform: scale(1); 
			  -moz-transform: scale(1);
			   transform: scale(1); 
  }
  
  .ui-select.open li.selected {
	  color: var(--theme-color2);
  }
  .ui-select ul li {
	  transform: translate(0px, -20px);
	  opacity: 0;
  }
  .open.ui-select ul li {
	  transform: translate(0px, 0px);
	  transition: all .4s;
		opacity: 1;
		text-align: left;
  }
  .ui-select > span:after {
	content: "";
    background: url(../img/icons/Arrow.png) no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
	right: 17px;
    top: 6px;
    bottom: 0;
    margin: auto;
	  
  }
  
  .search-form-box .input-group, .ui-select{
	  height: 65px;
  }
  .search-form-box .form-control {
	  border: none;
	  outline: 0;
	  box-shadow: none;
  }
  .search-btn {
	  padding-right: 20px;
	  padding-left: 20px;
  }
  .top-bonus-section {
	height: 150px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: -0.21px 3.99px 30px rgba(0, 0, 0, 0.05);
    box-shadow: -0.21px 3.99px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: -40px;
    z-index: 1;
    margin-bottom: 50px;
  }
  .tp-box {
	border-right: 1px solid #ddd;
    height: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	&:last-child {
		border: none;
	}
	h4 {
		font-size: 28px;
		font-weight: 900;
		color: var(--theme-color2);
		margin: 0;
	}
	p {
		margin: 0;
	}
  }
  .the-content{
	  margin:auto;
	  margin-top: -40px;
	  p {
		font-weight: 300;
		margin: 10px;
		margin-bottom: 30px;
	  }
  }
  .light-color {
	  color: var(--light-color);
  }
  .title {
	  font-size: 28px;
	  font-weight: bold;
	  margin:0;
  }
  .line {
	  position: relative;
	  margin-bottom: 40px;
	  &:before {
		content: '';
		width: 32px;
		height: 3px;
		background: var(--theme-color2);
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -15px;
	  }
  }
 
  .features-list {
	list-style: none;
	  .media:nth-child(even) {
			margin-left: 150px;
	  }
	  .media:nth-child(odd) {
		margin-right: 150px;
  }
  .media {
	  display: flex;
	  .media-image{
		width: 360px !important;
		height: 120px!important;
		object-fit: contain;
		margin-right: 30px !important;
	  }
  }
  
	
	  h5 {
		  color: #333333;
		  font-size: 22px;
		  margin:0;
		  font-weight: normal;
		  font-weight: 500;
	  }
	  p {
		  font-size: 18px;
		  color: #676767;
		  line-height: 1.5;
		  font-weight: 300;
		  margin-top: 8px;
	  }
	  .media {
		  padding: 50px 50px;
		  img {
			  margin-right: 25px;
		  }
	  }
  }
  
  .intro-section {
	  width: 100%;
	  background: url(../img/intro-bg.png) no-repeat center;
	  background-size: 100%;
	  height: 343px;
  }
  .flex-c {
	  display: flex;
	  align-items: center;
  }
  .action-btn-row {
	width: 30%;
	margin-left: 10%;
	text-align: right;
	.btn {
		width:320px;
		margin-bottom: 20px;
		font-size: 18px;
		height: 47px;
	}
  }
  .swiper-container.testimonial {
	height: 450px;
  }
  .testimonial-section {
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	  height: 100%;
	
	  .user-saying {
		  background: var(--theme-color2);
		  width: 60%;
		  color: #fff;
		  height:100%;
	  }
	  .quote {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 100px;
		padding-right: 100px;
		p {
			font-size: 20px;
			font-weight: 300;
			line-height: 1.8;
			font-style: italic;
			margin: 0;
		}
		.name {
			font-weight: bold;
			margin-top: 30px;
		}
	  }
	  
  }
  
  .text-right {
	  text-align: right !important;
  }
  .tag.tag-round {
	display: inline-block;
    border-radius: 50px;
    line-height: 26px;
    background: var(--theme-color2);
    color: #fff;
    font-weight: 600;
  }
  
  .swiper-pagination-bullet {
	opacity: .7;
	background: #fff;
	margin-top: 10px;
}
.quote-icon {
	width: 38px;
	display: block;
	margin-bottom: 30px;
}

.swiper-container.testimonial {
	.swiper-pagination{
		position: absolute;
		text-align: center;
		transition: .3s opacity;
		transform: translate3d(0,0,0);
		z-index: 10;
		display: flex;
		align-items: center;
		flex-direction: column;
		right: inherit !important;
		left: 50px;
	}
}

.testi-user-img {
	width: 40%;
}
.the-content  {
	width: 60%;
}

.p {
	font-weight: normal;
	font-size: 16px;
	line-height: 48px;
	text-align: left;
	color: #888;
}
.bold {
	font-weight: bold;
}
.theme-bg {
	background: var(--theme-color2);
    width: 90%;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;
  
}
.theme-bg-content {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
    padding-left: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.white.line:before {
	background: #fff;
}
.left.line:before {
	left:0;
	right: inherit;
}
.theme-bg-content p{
font-weight: normal;
font-size: 16px;
letter-spacing: 0.01em;
line-height: 2;
text-align: left;
color: #fff;

}
.why-img {
	margin-top: 50px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.site-footer {
	background: #212121;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.5;
	}
}
.footer-links {
	padding: 0;
		margin: 0;
		list-style: none;
	h4 {
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.02em;
		text-align: left;
		color: #fff;

	}
		li a {
			text-decoration: none;
			color: #fff;
			display: block;
			padding: 10px 0;
			font-weight: normal;
			font-size: 14px;
			text-align: left;

			&:hover {
				color: var(--theme-color1);
			}
		}
	
}
.with-icon {
		display: flex !important;
	img {
		display: block;
		height: 21px;
		margin-right: 10px;
	}
}
.copyright {
	position: absolute;
    bottom: 0;
    left: 0;

}

.icons-list {
	list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
	li 	a {
		font-weight: 500;
		font-size: 18px;
		text-align: left;
		color: #666;
		display: block;
		text-decoration:none;
		position: relative;
		padding: 10px 0;
		&:hover {
			color: var(--theme-color2);
		}
		img {
			margin-left: 20px;
			transition: all .2s ease-in;
		}
		
		&:hover img{
			transform: translateX(7px)
		}
	
	}
	
}
.bg-gray {
	background-color: #F8F8F8;
}
.mr-content {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-selecet {
	.ui-select {
		height: 43px;
		width: 100% !important;
	}
	.ui-select > span {
		line-height: 43px;
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		height: 43px;
		border-radius: 4px;
		background: #fff;
		border: 1px solid #ccc;
	}
	.ui-select ul {
		box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
	}
}
.padded-c {
	padding: 70px;
}
.sticky-header{
	will-change: transform;
	
}
.text-white {
	color: #fff;
}
.sticky-header[data-scroll="in"] {
	margin-top: 0;
	position: fixed;
    width: 100%;
    left: 0;
	right: 0;
	top:0;
    background: var(--theme-color2);
    z-index: 1000;
    /* background: #00796b; */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
			transform: translateY(0) scale(1);
}

.sbs-form .form-control{
	background: #F0F0F0;
	height: 100%;
}

  
  
  .header {
	flex-direction: row;
	justify-content: space-between;
}

.main-nav {
	margin-top: 5px;
}

.header {
	margin-top:35px;
	
}
.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
    margin-bottom: 10px;
	.main-nav {
		width: 100%;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	li a  {
		text-decoration: none;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		padding-right: 7px;
    padding-left: 7px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
	margin-left: 10px;
	display: block;
	border-bottom: 2px solid #ffc10700;
    padding-bottom: 15px;
	padding-top: 15px;
	white-space: nowrap;
	&:hover {
		color: var(--theme-color1) !important;
		border-color: var(--theme-color1);
	}
	&.active {
		color: var(--theme-color1) !important;
		border-color: var(--theme-color1);
	}
	}
	
	}
}

.site-logo {
	width: 218.33px !important;
	margin-right: 50px;
}

.btn{
	border-radius: 5px;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.02em;
	line-height: 12px;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	padding: 14px 30px;
	cursor: pointer;
}
.btn-theme {
	background: var(--theme-color1);
	color: #212121;
	
}

.form-inline  {
	display: flex;
	.btn {
		height: 38px;
		text-align: center;
		margin-left: 10px;
		white-space: nowrap;
		
	}
}

.theme-bg-contaier {
	width: 100%;
	display: flex;
	position: relative;
	.btn {
    width: 170px;
    font-size: 18px;
    text-transform: uppercase;
	white-space: nowrap;
	font-size: 17.24px;
	letter-spacing: 0.02em;
	line-height: 14.78px;
	text-align: center;
	color: #212121;

	}
	.line {
		font-weight: bold;
		font-size: 38px;
		letter-spacing: 0.01em;

	}
	.bg-1 {
		flex-basis: 50%;
	}
	.bg-2 {
		flex-basis: 50%;
	}
}

.search-form-box.top-search {
	.input-group {
		display: flex;
		input {
			padding-left: 20px;
			width:453px;
			font-size: 15px;
		}
		.search-btn {
			position: absolute;
    right: 0;
    top: 0;
	height: 65px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
		}
	}
}

.ct-title {
font-weight: bold;
font-size: 32px;
line-height: 48px;
text-align: left;
color: #fff;
}


.subs-row {
	display: flex;
	justify-content: space-between;

	.col-md-6 {
		flex-basis: 50%;
	}
	p {
	font-weight: normal;
	font-size: 16px;
	color: #888;
	margin:0;

	}
	.input-group {
		.form-control {
			width: 100%;
			font-size: 15px;
			width: 90%;
			float: right;
		}
		.search-btn {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
.line.white {
	color: #fff;
}
.theme-bg-content .lead {
font-weight: normal;
font-size: 18px;
letter-spacing: 0.01em;
line-height: 40px;
text-align: left;
color: #fff;
margin: 0;
margin-bottom: 30px;

}

.site-footer {
	.row {
		display: flex;
	justify-content: space-between;
	.footer-col {
		flex-basis: 33%;
		&:first-child {
			flex-basis: 50% !important;
		}
	}
	}
	
} 

.htext {
font-weight: normal;
font-size: 16px;
letter-spacing: 0.02em;
text-align: center;
color: #fff;

}

.media {
	display: flex;
}

.testimonial {
	p {
		
			font-size: 28px;
			letter-spacing: 0.02em;
			line-height: 35px;
		

	}
	.name {
font-weight: bold;
font-size: 18px;
letter-spacing: 0.04em;
line-height: 35px;
text-align: left;
	}
	.designation{
		font-size: 14px;
		letter-spacing: 0.04em;
		text-align: left;
		color: #fff;
		opacity: 0.65;

	}
} 

.unt {
    margin-bottom: 20px;
    margin-top: 60px;
}

.hero-text {
	font-size: 30px;
	letter-spacing: 0.02em;
	color: #fff;

}
.gallery-thumbs {
	height: 100%;
	.swiper-wrapper {
		align-items: center;
	}
	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 192px;
		height: 260px;
		position: relative;
		// opacity: 0.5;
		img {
			filter: contrast(0.5) blur(1px);
		}
	  }
	  
	  .swiper-slide-active {
		img {
			filter: contrast(1) blur(0px) !important;
		}
	  }
}

.flex-row {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
	margin-left: -15px;
	
	.flex-col {
		-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	}
}


.tc-label {
	color: #00796b !important;
	margin-bottom: 0 !important;
	margin-top: 20px !important;
}

.item-margin-30 {
	.card-view {
		margin-bottom: 30px;
	}
}

.graph-col {
	display: flex;
	align-items: center;
	* {
		margin: 0;
	}
	.g-icon {
		margin-right: 20px;
	}
	p {
		color: #888888;
	}
}
.dashboard-graph {
	margin-top: 35px;
	margin-bottom: 25px;
}
.fill-full {
	margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -50px;
	margin-right: -50px;
	height: 1px;
	background-color: #ccc;
	border: none;
}
.btn-list {
	margin-top: 20px;
	.btn {
		margin-right: 10px;
	}
}
.dash-header {
	padding: 0 !important;
	.site-logo {
		margin-left: 50px !important;
	}
	.nav-items {
		margin: 0;
	}
	.main-nav {
		justify-content: center;
	}
	.nav-items .main-nav li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.dash-nav-item {
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
	padding: 0;
	align-items: center;
	
	li {
		text-decoration: none;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		padding-right: 7px;
		padding-left: 7px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		margin-right: 10px;
		margin-left: 10px;
		display: block;
		white-space: nowrap;
	}
}


.notification {
	--size: 18px;
	width: var(--size);
	height: var(--size);
	font-size: 11px;
	font-weight: bold;
	border-radius: 50%;
	background: var(--theme-color1);
	display: block;
	color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid var(--theme-color2);
	box-sizing: content-box;
	position: absolute;
    top: 2px;
    right: -4px;
}

.user-ilabel {
	color: #fff;
	.iavatar {
		margin-right: 10px;
	}
	* {
		margin: 0;
	}
	h4 {
		font-weight: normal;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #fff;
	}
	p {
		font-weight: 300;
		font-size: 12px;
		margin-top: 5px;
		img {
			vertical-align: middle;
		}
	}
}

.log-out {
	margin: 0 !important;
	padding-right: 0 !important;
	a{
		background: #006559;
		height: 75px;
		width: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
} 

.label-title {
	display: flex;
	align-items: center;
	
	.label {
		padding-left: 10px;
		padding-right: 10px;
		height: 33px;
		border-radius: 3px;
		background: #00796b;
		font-weight: 600;
		font-size: 16px;
		line-height: 33px;
		color: #fff;
		text-align: center;
		margin-left: 10px;

	}
}

.light-row td {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #666666;
	
}
.dark-row td {

	color: #212121;
}
.line.sg {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px !important;
	&:before {
		bottom: -5px;
	}
}
.title-sm {
	font-weight: 600;
	font-size: 15px !important;
	color: #212121;
	&:before {
		bottom: -5px;
	}
}
							
.text-white {
color: #fff;
}
.offer-box {
	width: 237px;
	
	height: 336px;
	border-radius: 4px;
	background: #00796b;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
	flex-shrink: 0;
	padding: 20px;
	
	.border-box {
		border-radius: 14px;
		background: rgba(0, 0, 0, 0.14);
		border: 2px dashed #fff;
		width: 100%;
		text-align: center;
		padding: 15px;
	}
}

.slider-main-offer {
	padding-right: 0;
	width: 680px;
}
.slider-main-offer {
	.search-single  .swiper-slide {
		width: 100%;
		height: 336px !important;
	}
}
.round-label {
	border-radius: 42px;
    background: #cd7f32;
    border: none;
    color: #fff;
    padding: 10px 15px;

}

.pop-heading {
	font-weight: 900;
	font-size: 32px;
	color: #fff;
	span {
		font-size: 22px;
		font-weight: 300;
	}
}
.expire {
	color: #fff;
	span {
		font-weight: 300;
		font-size: 12px;
		line-height: 21px;
		
	}
}

.add-newtext {
	color: var(--theme-color2);
    font-weight: bold;
    text-decoration: none;
    border-left: 2px solid #CDCDCD;
    margin-left: 30px;
    padding: 12px 20px;
}

.reg-imgbox {
	height: 737px;
	width: 100%;
	position: relative;
	.logo {
		width: 300px;
    display: block;
    margin: auto;
	}
	.reg-nav {
		width: 100%;
		height: 67px;
		background: hsla(0, 0%, 100%, 0.09);
		position: absolute;
		left: 0;
		bottom: 0;
		.list-inline {
			height: 100%;
			align-items: center;
			justify-content: center;
			li {
				margin-left: 22px;
    			margin-right: 22px;
			}
			 a {
				color: #fff;
				font-size: 13px;
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
	}
	.overlay {
		background: #0000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.radio-inline label {
	font-size: 14px;
}

.s-mobile .ui-select{
	width: 90px !important;
    margin-right: 10px;
}

.steps {
	display: flex;
	margin-bottom: 30px;
	.step-line {
		width: 72px;
		height: 7px;
		border-radius: 3.5px;
		background: #CCCCCC;
		margin-right: 10px;
		cursor: pointer;
		&.active {
			background: var(--theme-color2);
		}
	}
}

.btns-c-end {
	position: absolute;
    bottom: 40px;
    justify-content: space-between;
    width: 87.6%;
	margin: auto;
	display: flex;
}

.top-search {
	.ui-select  {
		width: 238px;
	}
	span {
		font-size: 14px;
		color: #212121 !important;
	}
}
.goback {
	display: block;
}

.r-margin-15 .r-layout img{
	margin-right: 15px;
}